html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #b5fd8d;
    user-select: none;
 }

 h1{
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task{
    font-size: 20px;
}

 .calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: #212121;
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
    font-family: "Tahoma";
 }
 .item {
    background-color: #B3E5FC;
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
 }
 form {
    max-width: 100%;
 }
 input {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
 }
 .input {
    grid-column: 1/-1;
    padding: 0;
 }
 .clean {
    grid-column: 1/3;
    background-color: #0288d1;
 }
 .back, .exponentiation{
    grid-column: 3/-1;
 }
 .equal {
    grid-column: 4;
    grid-row: 7/9;
    background-color: #bdbdbd;
 }
 .zero {
    grid-column: 1/3;
 }