h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Універсальний селектор */
* {
    font-family: 'Montserrat', sans-serif; /* цей шрифт підключався через посилання на google fonts */
    line-height: 1.5;   /* відстань між строками тексту */
    color: #333;
}

body {
    font-size: 20px; 
    margin: 0;
    font-weight: 600;
    display: flex;      /* елементи всередині body поводять себе як блочні, але компонуються вони у режимі, який можна налаштувати через інші властивості (flex-direction, justify-content і тд.)  */
    flex-direction: column;
    min-height: 100vh;
}

/* tables decoration */
table, tr, td, th {
    border-collapse: collapse; /* щоб лінії таблиці були одинарними */
    border: 1px solid black;
} 

/* lists decoration*/
ul {
    list-style-type: circle; /* для ненумерованого списку елементи позначаються колами */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.header {
    background-color: #153131;
}

.header_inner {
    display: flex;  /*поведінка відображення внутрішніх елеменів : елементи всередині header_inner поводять себе як блочні, але компонуються у режимі, який можна налаштувати через інші властивості (flex-direction, justify-content і тд.) */
    justify-content: space-between; /* як внутрішні елементи розміщуються вздовж осі свого вирівнювання : елементи розподілені рівномірно вздовж осі вирівнювання з однаковими проміжками між ними */
    align-items: center; /* прилягання внутрішніх елментів : по центру  */
}

.logo {
    font-size: 40px;
    font-weight: 900;
    color: #00A676;
}

/* Navigation bar */
.nav {
    font-weight: 600;
    font-size: large;
}

/* Links decorations */
.nav_link, .sign_up_link {
    display:inline-block; /*поведінка відображення елемента : елемент є блочним та зберігає форму при зміні розміру сторінки (якщо буде замало місця елемент перенесется повністю, а не частиною )*/
    margin: 0 20px;       /* ! тим самим задаємо мінімальну відстань між посиланнями  ! */

    text-decoration: none;
    color: white;
    transition: color 0.5s linear; /* перехід у тимчасовий стан : [колір] [час переходу] [лінійний тип переходу]. Перехід виконується під час зміни стану об'єкта (наприклад на об'єкт навели мишкою :hover)) */
}

a {
    text-decoration: none;
    color: rgb(9, 110, 31);
    transition: color 0.5s linear;
}

.nav_link:hover, .sign_up_link:hover, a:hover { /* псевдокласи *:hower - змінюють стан об'єктів класу при наведені мишкою */
    color: #00A676 /* властивість, що змінюється */
}
/*=========================================*/

/* CONTENT */
.content {
    width: 100%;
    background-color: #ffffff;
    flex: 1;
}

/* приклад використання атрибутного селектора */
img[alt = "activities"]{
    display: block;
    margin: 20px auto;
}
/*=========================================*/

/* FOOTER */
.footer {
    width: 100%;
    background-color: #212922;
    margin: auto;
}

.footer_inner {
    margin: 30px auto;
    height: inherit;
    display: flex;
    justify-content: center;    /* відцентрувати по вертикалі */
    align-items: center;        /* відцентрувати по горизонталі */
}

.footer_nav {
    font-size: 20px;
    font-weight: 500;
}
/*=========================================*/

/*AboutUs*/

.command {
    font-weight: bold;
    border: 2px solid black;
}

.command td{
    vertical-align: middle;
    text-align: center;
}
.command th{
    background:grey;
}
.email{
    padding: 15px;
}

.img_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutUs_img {
    width: 200px;
    margin: auto 20px;
}

/* About project */
/* контексний селектор + плаваючий об`єкт */
.site-description img {
    float: right;
    margin: 0 0 4px 10px;
}